<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: SQL injection WORKSHOP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
    SQL injection WORKSHOP
</h1>

<p th:text="'Hello, ' + ${name} + '!'" />


<p>
    Today you will know about "Injection flaws" specifically SQL injections. But other exist: NoSQL, OS, HTML, JS (XSS) and LDAP injection, occur when untrusted data is sent to an interpreter as part of a command or query.
</p>

</body>
</html>